<mat-card class="medium-form-card-container">
    <mat-card-header>
        <mat-card-title>Employee</mat-card-title>
        <mat-card-subtitle>Add New Employee</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <form [formGroup]="employeeForm" class="form-container" (ngSubmit)="save()">
            <h3>Personal informartion</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Username</mat-label>
                <textarea matInput formControlName="userName"></textarea>
                <mat-error *ngIf="employeeForm.controls['userName'].hasError('required')"><strong>User Name</strong> required</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Email</mat-label>
                <textarea matInput formControlName="email"></textarea>
                <mat-error *ngIf="f['email'].touched && f['email'].hasError('required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="f['email'].touched && f['email'].hasError('email')">Email is <strong>invalid</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Phone Number</mat-label>
                <textarea matInput formControlName="phoneNumber"></textarea>
                <mat-error *ngIf="employeeForm.controls['phoneNumber'].hasError('required')"><strong>Phone Number</strong> required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address"></textarea>
                <mat-error *ngIf="employeeForm.controls['address'].hasError('required')"><strong>Address</strong> required</mat-error>
            </mat-form-field>

            <h3>Job informartion</h3>
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" class="f-w mb-1">
                <mat-label>Join Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="joinDate" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="employeeForm.controls['joinDate'].hasError('required')"><strong>Join date</strong> required
                </mat-error>

            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Department</mat-label>
                <input matInput formControlName="department" >
                <mat-error *ngIf="f['department'].touched && f['department'].hasError('required')">Department is <strong>required</strong></mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Postion</mat-label>
                <input matInput formControlName="currentPostion" >
                <mat-error *ngIf="f['currentPostion'].touched && f['currentPostion'].hasError('required')">Current position is <strong>required</strong></mat-error>
                
            </mat-form-field>
            <div class="f-w">
                <button type="submit" mat-raised-button color="primary" [disabled]="employeeForm.invalid">Save</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [routerLink]="['/employees']">Back to list</a>
    </mat-card-actions>
</mat-card>
