<style>
  .container {
      display: block;
      width: 97.5vw;
      margin: 0 auto;
  }

  .banner {
      width: 80vw;
      margin: 5px auto;
      padding: 10px 30px;
      border-radius: 3px;
      background-color: #e3f2fd;
      color: #363636;
      display: flex;
      gap: .15em;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
  }
</style>
<section class="container">
  <div class="banner">
      <h2>Employee Management Sytem Application</h2>
      <h4>This demo uses Angular 15 & Angular Material 15</h4>
      <h4>BackEnd: Asp.Net Core WebApi</h4>
      <h4>Database: MSSQL</h4>
      <h5>Login Info:</h5>
      
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>[Employees] role user</span>
            <span matListItemLine>Username: Employee01 Password: @Eye1234</span> <span matListItemLine>Username: Admin Password: @Eye1234</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle>Administrator role user</span>
            
            <span matListItemLine>Username: Admin Password: @Eye1234</span>
          </mat-list-item>
        </mat-list>

  </div>
</section>